// colors

$primary-color: #ee3131;
$white-color: #ffffff;
$black-color: #000000;
$darkgray-26: #26292d;
$darkgray-38: #383939;
$lightgray-e3: #e3e3e3;


$Small-Desktop: "only screen and (max-width : 1520px)";
$Small-Laptop: "only screen and (max-width: 1199px)";
$IpadP: "only screen and (max-width : 1023px)";
$PhoneL: "only screen and (max-width: 767px)";
$mobile-landscape-414: "only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)";